.carouselMovie {
  margin-top: 75px;
  .dc {
    color: red;
    margin-right: 50px;
    cursor: pointer;
  }
  .sc {
    color: black;
    margin-left: 50px;
    cursor: pointer;
  }
  .carouselMovie__content {
    .carouselMovie__items {
      transition: all 0.5s;

      &:hover {
        .hoverEvent {
          button {
            color: white;
            background: #2196f3;
            border-color: #2196f3;
            box-shadow: 0 0 10px #2196f3;
            transition-delay: 0.2s;
          }
        }
      }
      .hoverEvent {
        button {
          height: 40px;
          width: 215px;
          margin-top: 5px;
        }
      }
      img {
        border-radius: 5px;
        transition: all 1s;
      }

      .ratingMovie {
        margin-top: 10px;
        border: 1px solid green;
        border-radius: 5px;
        width: 37.31px;
        padding: 5px;

        text-align: center;
        background-color: green;

        h6 {
          color: white;
          margin: 0px;
        }
        i {
          color: rgb(202, 154, 22);
          font-size: 8px;
          line-height: 0px;
        }
      }
    }
  }
}
