.carouselAndSelect {
  position: relative;
}
.carouselSelect {
  position: absolute;
  bottom: -4%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 940px;

  .dropdown-content {
    display: flex;
    width: fit-content;
    padding: 20px;
    border-radius: 3px;
    background-color: white;

    .dropdown {
      border-radius: 3px;
      border: 1px solid rgba(128, 128, 128, 0.335);
      margin: 0px 5px;

      text-align: center;
      a {
        color: black;
        padding: 0px 20px;
      }
      .dropdown-toggle {
        color: gray;
        padding-right: 10px;

        border: none;
        background-color: white;
        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}


